body {
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03px;
    text-transform: uppercase;
}
.header-menu-item {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.header-address-item {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}